body {
    background: #103c54;
    background-image: url(assets/images/background2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

.header {
    background: #10544a;
    height: 120px;
    width: 1330px;
}

#header {
    background: #103c54;
    width: 100%;
    top: 0;
    padding: 0px; 
    margin: 0;
    box-shadow: 0px 0px 10px 10px #103c54;
}


#home-tab  {
    background: #103c54;
    color: #42AA5D;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}

#about-tab {
    background: #103c54;
    color: #42AA5D;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}

#portfolio-tab {
    background: #103c54;
    color: #42AA5D;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}

#contact-tab {
    background: #103c54;
    color: #42AA5D;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}

#myTab {
    background: #103c54;
    border: #103c54;
    margin-left: 120px;
}

#logo {
    height: 75px;
    width: 150px;
}

br {
    line-height: 10px;
}

h2 {
    color: #42AA5D;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
}

.alt {
    color: #101a54;
    text-align: center;
    margin-top: 50px;
}

/* Home */
#home {
    text-align: center;
    height: 500px;
    margin: 25px;
}

#about_button {
    margin-top: 100px;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#about_button:hover {
    margin-top: 100px;
}

#about_button:active {
    background: #42AA5D;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

/*About*/
#about{
    text-align: center;
}

p {
    margin: 60px;
    color: #15A4D0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    outline: #101a54;
    text-align: justify;
}

.image {
    margin-right: 80px;
    float: left;
}

#portfolio_button {
    margin-top: 0;
}

#portfolio_button:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#portfolio_button:active {
    background: #42AA5D;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

/* Portfolio */

#portfolio {
    text-align: center;
    align-content: center;
    margin-bottom: 100px;
    margin-top: 50px;
}

h4 {
    color: #15A4D0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 15px;

}
/*test*/

.w3-bar-item {
    color: #15A4D0;
    font-family: 'Montserrat', sans-serif;
    line-height: 50px;
    margin-top: 150px;
    text-align: center;
}

.w3-hover-green {
    color: #15A4D0;

}
/*end*/

figcaption {
    color: #15A4D0;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
    text-align: center;
}

#carousel {
    height: 100px;
    width: 350px;
    text-align: center;

}

#travelmate {
    height: 200px;
    width: 350px;
    text-align: center;
}

#arize {
    height: 200px;
    width: 350px;
    text-align: center;

}

#contact_button {
  margin-top: 100px;
}

#contact_button:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#contact_button:active {
    background: #42AA5D;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

#contact{
    text-align: center;
}

#footer {
    text-align: center;
}

.btn-secondary {
    background:#103c54;
    color: #42AA5D;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn:active, .btn:focus {
    background: #42AA5D;
    color: #103c54;

}

.btn:hover {
    background: #42AA5D;
    color: #103c54;

}

/* Contact Form */

input[name=name] {
    width: 49.5%;
    float: left;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[name=mail] {
    width: 49.5%;
    float: right;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[name=subject] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    height: 150px;
    box-sizing: border-box;
}

::placeholder {
    color: #103c54;
}

#mail_button {
    margin-top: 30px;
}

#mail_button:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
  
#mail_button:active {
    background: #42AA5D;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

/* Social Icons */
 .fa-linkedin-in {
    color: #15A4D0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.fa-github {
    color: #15A4D0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
}

.fa-envelope {
color: #15A4D0;
padding-top: 20px;
padding-bottom: 20px;
margin-right: 10px;
}

.color-1 {
    color: #105428;
}
.color-2 {
    color: #10544a;
}
.color-3 {
    color: #103c54;
}
.color-4 {
    color: #101a54;
}
.color-5 {
    color: #281054;
}
.color-6 {
    color: #4a1054;
}