body {
    background: #105428;
}
.header {
    background: #10544a;
    height: 120px;
    width: 1330px;
}
#header {
    background: #10544a;
}
#home-tab  {
    background: #10544a;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
#about-tab {
    background: #10544a;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
#portfolio-tab {
    background: #10544a;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
#contact-tab {
    background: #10544a;
    color: #103c54;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
}
#myTab {
    background: #10544a;
    border: #10544a;
}
#logo {
    height: 75px;
    width: 150px;
}
h2 {
    color: #101a54;
    text-align: left;
}
.alt {
    color: #101a54;
    text-align: center;
}
#home {
    text-align: center;
}
#about{
    text-align: center;
}
#portfolio {
    text-align: center;
    align-content: center;
}
#contact{
    text-align: center;
}
#footer {
    text-align: center;
}
.btn {
    background:#103c54;
    color: #105428;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.btn:hover {
    background: #105428;
    color: #103c54;
}
.color-1 {
    color: #105428;
}
.color-2 {
    color: #10544a;
}
.color-3 {
    color: #103c54;
}
.color-4 {
    color: #101a54;
}
.color-5 {
    color: #281054;
}
.color-6 {
    color: #4a1054;
}